/* app css stylesheet */

h3 {
  padding-left:10px;
}

.gameButtons {
  padding-left:10px;
}

.scoreContainer {
  overflow-x:auto;
}

.scoreTable {
 display: table; 
 table-layout:fixed;
 border-spacing: 10px;
}

.scoreRow {
  display: table-row;
}

.scoreCol {
  display:table-cell;
  color:#225;
  width: 120px;
  vertical-align:top;
}

.scoreBox .cumulative, .scoreBox .additive{
  display:block;
  text-align:right;
  font-family:monospace;
  text-decoration: line-through;
}

.additive {
  display:block;
  border-bottom: 1px grey solid;
}

.cumulative {
  display:block;
  padding-bottom:5px;
}


.scoreBox:last-of-type{
  color:black;
}

.scoreBox:nth-last-of-type(2) .cumulative{
  color:black;
  text-decoration: none;
}

.scoreBox:last-of-type .cumulative{
  font-weight:bold;
  text-decoration: none;
}
.scoreBox:last-of-type .additive{
  border-bottom: 1px black solid;
  text-decoration: none;
}


.newScore {
  text-align:right;
  width:100%;
}

.positiveScore:before {
  content:'+';
  float:left;
}
.negativeScore:before {
  content:'-';
  float:left;
}


/* editable removeable cell*/

.editable-removable-cell {
  position:relative;
}

.editable-removable-view {
  display:block;
  padding: 3px 2px;
}

.editable-removable-input {
  width:100%;
}

.editable-removable-remove-icon {
  position:absolute;
  width: 1em;
  height: 1em;
  border-radius: .5em;
  background:#444;
  top:4px;
  right:3px;
  text-align: center;
  color:white;
}

.editable-removable-remove-icon::before{
  content: '\00D7';
  }

/* submit with button on left */

.input-group {
  
}


/* Oh Hell Table */
#ohHellTable {

}



#ohHellTable td, #ohHellTable th{
  padding:5px;
  border-color: #999;
  border-style: solid;
  border-width: 0 1px 1px 1px;
  table-layout: fixed;
}

#ohHellTable tr td:last-child, #ohHellTable tr th:last-child{
  border-right-width: 0px;
};

#ohHellTable tr:last-child th, #ohHellTable tr:last-child td{
  border-bottom-width: 0px;
};

#ohHellTable tr:last-child {
  background:red;
};